<h1 class="display-4">
    <!--<img class='t-logo img-fluid' src ='https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/MBTA.svg/1024px-MBTA.svg.png'>-->
    <!--<b>&nbsp; Business Center</b>--></h1>
<div class="no-print">
<ul class="topUlMenu">
    <li class="listItem"><a class="active" href="#!/">Home</a></li>

    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/add-bid">Add Bid</a></li>
    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/list-bids">View Bids</a></li>
   <!--
    <li class="listItem" ng-show="model.user.role=='Admin'||model.user.role =='Buyer'"><a href="#!/add-vendor">Add Vendor</a></li>
    <li class="listItem" ng-show="model.user.role=='Admin'||model.user.role=='Buyer'"><a href="#!/list-vendors">View Vendors</a></li>
    <li class="listItem" ng-show="model.user.role=='Vendor'"><a href="#!/edit-vendor">Edit my Vendor Profile</a></li>
    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/add-category">Add Category</a></li>
    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/view-categories">View Categories</a></li>
-->
    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/admin/add-user">Add User</a></li>
    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/admin/view-users">View Users</a></li>
    <li class="listItem" ng-show="model.user.role=='Buyer'"><a href="#!/dashboard">My Dashboard</a></li>

    <!--<li class="listItem"><a href="#!/about">About</a></li>-->
    <li class="listItem" ng-if="model.user._id == undefined" class="float-right bg-primary"><a href="#!/login">Login</a></li>
    <li class="listItem" ng-if="model.user._id == undefined" class="float-right bg-danger"><a href="#!/register">Register</a></li>
</ul>
<br/>
</div>